* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    background-image: url(image/a.jpg);
    /* background-color: rgb(112, 18, 18); */
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    
}

nav {
font-family: playfair display;

}


.times{
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-button {
    display: none;
    margin-right: -50px;
    
}

.sidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    padding: 20px 32px;
    padding-top: 75px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
    height: 300px;
    display: none;
    z-index: 1; 
    
}
.hideMobile a{
    color: grey;
}
.hideMobile:hover a{
    color: blueviolet;
}

.sidebar  .first-list {
  padding-bottom: 14px;
    
}
nav h2{
    z-index: 99;
}
nav .line{
    margin-top: 10px;
    height: 0.5px;
    width: 100%;
    background-color: rgb(230, 217, 217);
    display: none;
    z-index: 99;
}



@media screen and (max-width:992px) {
    .menu-button {
        display: block;
    }

    .hideMobile {
        display: none;
    }
   

}


.main{
    width: 100%;
    height: 100%;
    color: #ff0000;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* background-color: rgb(70, 65, 65); */
    font-family: playfair display;
}
.main h2{
    font-size: 50px;
    font-weight: 400;
    
}
.main h1{
    font-weight: 500;
    font-size: 70px;
}
.main h1,h2,h3{
    color: black;
    margin-left: 20px;
}
.main h3{
    margin-left: 25px;
}
.main span{
    color: rgb(57, 26, 170);
    font-size: 50px;
    font-weight: 600;
}
.main p{
    font-size: 20px;
    color: black;
    margin-left: 25px;
    margin-top: 20px;
}

.main .left{
margin-left: 40px;
margin-top: 70px;
width: 50%;
}

.left-bottom{
    height: 150px;
    width: 100%;
    margin-left: 25px;
}

.left-bottom i{
    
    color: rgb(60, 153, 235);
    font-size: 30px;
    position: absolute;
    /* top: 10px;
    left: 10px; */
    

}

.left-bottom div{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(0, 151, 119);
    display: inline-block;
    margin-top: 60px;
    /* background-color: blue; */
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 10px;


}

.left-bottom div:hover {
background-color: blue;
transition: all .5s;

}
.left-bottom div:hover i {
    color: #fff;
    transition: all .5s;
    transform: scale(1.1);
    overflow: hidden;
    
    }
